
/** ADD YOUR AWESOME CODES HERE **/


.img-00 {
  height: 28%;
  width: 17%;
  border-radius: 123px;
}

.desk-image {
  height: 400px;
  width: 100%;
}

.links {
  color: aliceblue;
}

.links-1 {
  color: black;
  text-decoration: underline;
}

.links-2 {
  color: rgb(111, 1, 155);
}

.links-3 {
  color: white;
}


.links-1:hover {
  color: rgb(87, 85, 85);
  text-decoration: underline;
}

.links-3:hover {
  color: rgb(177, 159, 159);
}

.links-holder:hover {
  text-decoration: underline;
}

.email-link {
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
  color: rgb(52, 52, 195);
}

.email-link:hover {
  color: rgb(98, 98, 219);
}